<a href="https://colab.research.google.com/github/Geeth-Rath/A-ML/blob/main/258417X.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/CO2_data.csv')

In [ ]:
df['smoothed'] = df['average'].ewm(span=12, adjust=False).mean()

In [ ]:
print(df.head(10))

   Year   Month  average    smoothed
0   1958      3   315.71  315.710000
1   1958      4   317.45  315.977692
2   1958      5   317.51  316.213432
3   1958      6   317.27  316.375981
4   1958      7   315.87  316.298138
5   1958      8   314.93  316.087655
6   1958      9   313.21  315.644939
7   1958     10   312.42  315.148794
8   1958     11   313.33  314.868980
9   1958     12   314.67  314.838368